body {
    padding: 1%;
}

#wiki {
    overflow: auto;
    max-height: 90vh;
    border: 1px solid #dedede;
    padding: 1%;
}

#wiki:empty {
    border: 0 none;
    padding: 0;
}

#wiki h1:before,  #wiki h1:after {
    content: '=';
}

#wiki h2:before,  #wiki h2:after {
    content: '==';
}

#wiki h3:before,  #wiki h3:after {
    content: '===';
}

#wiki ul li:before {
    content: '* ';
}

#wiki ol li:before {
    content: '# ';
}

#wiki pre.pre:before {
    content: '<pre>';
}

#wiki pre.pre:after {
    content: '</pre>';
}

#wiki code {
    white-space: pre;
}

#wiki code:before {
    content: '<syntaxhighlight>';
}

#wiki code.js:before {
    content: '<syntaxhighlight lang="javascript">';
}

#wiki code.php:before {
    content: '<syntaxhighlight lang="php">';
}

#wiki code.python:before {
    content: '<syntaxhighlight lang="python">';
}

#wiki code:after {
    content: '</syntaxhighlight>';
}

#wiki div.img:before {
    content: '[[File:' attr(data-src)  ']]';
}

#wiki a:before {
    content: '[' attr(href) ' ';
}

#wiki a:after {
    content: ']'
}

#wiki em:before, #wiki em:after {
    content: "''";
}
